-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cu111
torchvision==0.9.1+cu111
torchaudio===0.8.1
tensorboard
tensorflow
numpy
sklearn
matplotlib
keras
pandas
nltk
spacy
python-docx
pysub-parser
sklearn
imblearn
scipy
rich
seaborn
sphinxcontrib-programoutput
sphinx-autodoc-typehints
sphinx_rtd_theme
wikipedia
wordcloud
pyspark
pyspark-stubs