wheel
nltk
spacy
matplotlib
python-docx
pysub-parser
wikipedia
pandas
sklearn
numpy
imblearn
scipy
rich
seaborn
sphinxcontrib-programoutput
sphinx-autodoc-typehints
sphinx_rtd_theme
tensorflow
wordcloud